name: build ccapi_gui

on:
  push:
    branches: main
    paths:
      - .github/workflows/*
      - '**/**/CMakeLists.txt'
      - '**/**/*.cpp'
      - '**/**/*.hpp'
  pull_request:
    branches: main
    paths:
      - .github/workflows/*
      - '**/**/CMakeLists.txt'
      - '**/**/*.cpp'
      - '**/**/*.hpp'

jobs:
  build-linux:
    name: build ccapi_gui (linux)
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            cmake \
            libarchive-dev \
            libcurl4-openssl-dev \
            nlohmann-json3-dev \
            libglfw3-dev \
            libgl1-mesa-dev

      - name: configure cmake
        run: cmake -S gui -B gui/build

      - name: build project
        run: cmake --build gui/build

  build-macos:
    name: build ccapi_gui (macos)
    runs-on: macos-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: install dependencies
        run: brew install libarchive nlohmann-json glfw

      - name: configure cmake
        run: |
          cmake -S gui -B gui/build \
            -DLibArchive_ROOT="$(brew --prefix libarchive)"

      - name: build project
        run: cmake --build gui/build

  build-windows-mingw:
    name: build ccapi_gui (windows)
    runs-on: windows-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          update: true
          install: >
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-libarchive
            mingw-w64-x86_64-curl
            mingw-w64-x86_64-nlohmann-json
            mingw-w64-x86_64-glfw
      - name: build project
        shell: msys2 {0}
        run: |
          cmake -S gui -B gui/build -G "MinGW Makefiles"
          cmake --build gui/build
