name: build ccapi_cli

on:
  push:
    branches: main
    paths:
      - .github/workflows/*
      - '**/**/CMakeLists.txt'
      - '**/**/*.cpp'
      - '**/**/*.hpp'
  pull_request:
    branches: main
    paths:
      - .github/workflows/*
      - '**/**/CMakeLists.txt'
      - '**/**/*.cpp'
      - '**/**/*.hpp'

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            cmake \
            libarchive-dev \
            libcurl4-openssl-dev \
            nlohmann-json3-dev

      - name: configure cmake
        run: cmake -S cli -B cli/build

      - name: build project
        run: cmake --build cli/build

  build-macos:
    runs-on: macos-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: install dependencies
        run: brew install libarchive nlohmann-json

      - name: configure cmake
        run: |
          cmake -S cli -B cli/build \
            -DLibArchive_ROOT="$(brew --prefix libarchive)"

      - name: build project
        run: cmake --build cli/build

  build-windows-mingw:
    runs-on: windows-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          update: true
          install: >
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-libarchive
            mingw-w64-x86_64-curl
            mingw-w64-x86_64-nlohmann-json
      - name: build project
        shell: msys2 {0}
        run: |
          cmake -S cli -B cli/build -G "MinGW Makefiles"
          cmake --build cli/build
